<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
*************************************************************************
**  Copyright (c) 2016-2021 CentraleSupélec & EDF.
**  All rights reserved. This program and the accompanying materials
**  are made available under the terms of the Eclipse Public License v2.0
**  which accompanies this distribution, and is available at
**  https://www.eclipse.org/legal/epl-v20.html
** 
**  This file is part of the RiseClipse tool
**  
**  Contributors:
**      Computer Science Department, CentraleSupélec
**      EDF R&D
**  Contacts:
**      dominique.marcadet@centralesupelec.fr
**      aurelie.dehouck-neveu@edf.fr
**  Web site:
**      https://riseclipse.github.io
*************************************************************************
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated nsd -->
      <package
            uri="http://www.iec.ch/61850/2016/NSD"
            class="fr.centralesupelec.edf.riseclipse.iec61850.nsd.NsdPackage"
            genModel="model/nsd.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated nsd -->
      <parser
            type="nsd"
            class="fr.centralesupelec.edf.riseclipse.iec61850.nsd.util.NsdResourceFactoryImpl"/>
      <parser
            type="snsd"
            class="fr.centralesupelec.edf.riseclipse.iec61850.nsd.util.NsdResourceFactoryImpl"/>
      <parser
            type="nsdoc"
            class="fr.centralesupelec.edf.riseclipse.iec61850.nsd.util.NsdResourceFactoryImpl"/>
   </extension>

   <extension
         point="fr.centralesupelec.edf.riseclipse.main.meta_models">
      <meta_model
            name="IEC61850 NSD (version 2017A)"
            resourceFactory="fr.centralesupelec.edf.riseclipse.iec61850.nsd.util.NsdResourceFactoryImpl"
            resourceSetFactory="fr.centralesupelec.edf.riseclipse.iec61850.nsd.util.NsdResourceSetFactory"
            uri="http://www.iec.ch/61850/2016/NSD">
      </meta_model>
   </extension>

</plugin>
